/* Navigation and logo */


* {
  box-sizing: border-box;
}
body {
  cursor: default;
}
.nav,
.home-nav,
.portfolio-nav,
.clients-nav,
.about-nav,
.contact-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1%;
  margin-left: 2%;
  margin-top: -16.5px;
  cursor: pointer;
}

/* Navigation list - Subnavigation */
ul {
  padding-left: 10px;
  margin: 0;
}

li {
  display: inline;
  position: relative;
}

ul ul {
  text-align: left;
  position: absolute;
  display: none;
  left: 0;
  top: 100%;

}

.sub-item {
  border-style: none;
  line-height: 1.5;

}

li:hover ul {
  display: block;


}
/* End of Navigation list - subnavigation*/


.nav a {
  color: rgb(180, 180, 180);
  text-decoration: none;
  /* border-bottom: 1px solid #fff; */
  letter-spacing: .6em;
  font-weight: 100;
  font-size: .9rem;
}

.nav .current {
  color: #fff;
}

.nav a:hover {
  color: #fff;
}

.portfolio-nav a:hover {
  color: rgb(107, 107, 107);
  cursor: crosshair;
}

.portfolio-nav li a:hover {
  color: #fff;
  cursor: pointer;
}

.portfolio-nav ul{
  background-color: #272525;
}
.nav a:visited {
  color: none;
}

.site-logo img {
  display: flex;
  max-width: 130px;
  margin-top: 0;
  padding: 10px;
  filter: invert(100%);
}
