/* Header */
/* Navigation menu and logo */
.site-logo img {
  display: flex;
  max-width: 130px;
  margin-top: 0;
  padding: 10px;
  filter: invert(100%);
}
.nav {
  height: 40px;
  line-height: 1;
}
.nav .current {
  color: #fff;
}

.nav a:hover {
  color: #fff;
}
.nav a:visited {
  color: none;
}

.menu {
  margin: 0 25px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.menu a {
  font-family: "Abolition Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  clear: right;
  color: rgb(180, 180, 180);
  text-decoration: none;
  margin: 0 10px;
  letter-spacing: .6em;
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1;
}
.menu li {
  list-style-type: none;
}
.has-children a {
  color: rgb(255, 94, 94);
}

/*Subnavigation*/
.sub-nav {
  display: none;
}
.has-children:hover {
  background-color: rgb(39, 37, 37);
}

.has-children:hover > .sub-nav {
  display: flex;
  flex-direction: column;
  line-height: 1.7;
  margin: 0;
  padding-inline: 0;
  background: rgb(39, 37, 37);
}

/* End subnavigation*/

/* Hamburger menu */
label {
  margin: 0 40px 0 0;
  font-size: 2.5rem;
  line-height: 1;
  display: none;
  width: 26px;
  float: right;
}
#toggle {
  display: none;
}
/* End of hamburger menu */

/* Media Queries */
@media (max-width: 768px) {
  label {
    display: block;
    line-height: 1.7;
    font-size: 3rem;
    cursor: pointer;
  }
  .menu {
    float: right;
    text-align: right;
    width: 100%;
    display: none;
    
  }
  .menu a {
    display: block;
    font-size: 1.6rem;
    line-height: 1.7;
    background: rgb(39, 37,37);
    position: relative;
  }

  .sub-nav {
    display: block;
    width: 100%;
  }
  .has-children a {
    color: rgb(255, 94, 94);
  }
  .has-children li a {
    color: rgb(180, 180, 180);
  }
  #toggle:checked + .menu {
    display: block;
  }
}
