/* Load web fonts */
/* Santiago B. font */
@font-face {
  font-family: "Alcubierre";
  src: url('../fonts/Alcubierre/Alcubierre.otf') format('opentype');
  src: url('../fonts/Alcubierre/alcubierre-webfont.woff2') format('woff2');
  src: url('../fonts/Alcubierre/alcubierre-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* text font */

@font-face {
  font-family: "Sinkin Sans 200";
  src: url(../fonts/SinkinSans/SinkinSans-200XLight.otf) format('opentype');
  src: url('../fonts/SinkinSans/sinkinsans-200xlight-webfont.woff2') format('woff2');
  src: url('../fonts/SinkinSans/sinkinsans-200xlight-webfont.woff') format('woff');
}
@font-face {
  font-family: "Sinkin Sans 200 Italic";
  src: url('../fonts/SinkinSans/SinkinSans-200XLightItalic.otf') format('opentype');
  src: url('../fonts/SinkinSans/sinkinsans-200xlightitalic-webfont.woff2') format(woff2);
  src: url('../fonts/SinkinSans/sinkinsans-200xlightitalic-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Sinkin Sans 300';
  src: url('../fonts/SinkinSans/SinkinSans-300Light.otf') format('opentype');
  src: url('../fonts/SinkinSans/sinkinsans-300light-webfont.woff2') format('woff2');
  src: url('../fonts/SinkinSans/sinkinsans-300light-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Sinkin Sans 400';
  src: url('../fonts/SinkinSans/SinkinSans-400Regular.otf') format('opentype');
  src: url('../fonts/SinkinSans/sinkinsans-400regular-webfont.woff2') format('woff2');
  src: url('../fonts/SinkinSans/sinkinsans-400regular-webfont.woff') format('woff');
}


/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: default;
  color: rgb(0, 0, 0);
  font: .9em/1.5 "Sinkin Sans 200", Helvetica, Arial, sans-serif;
  background-color: rgb(249, 246, 246);
}
h1, h2, h3, h4, h5 {
  font-family:  "Sinkin Sans 200", Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */
/* Main content container */
.container {
  flex: 1;
}

/* Navigation */
.main-header,
.logo-name,
.main-logo,
.santiago,
.nav-bar {
  display: flex;
}
.main-header {
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(252, 250, 250, 0.95);
  z-index: 1000;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}
.logo-name {
  flex: 3;
  flex-direction: row;
  margin-top: 15px;
  align-content: center;

}

.main-logo img {
  max-width: 60px;
  /* filter: invert(100%); */
  
}
.santiago {
  margin-left: 20px;
}

.santiago h1 {
  color: rgb(0, 0, 0);
  font-family:  "Alcubierre", Helvetica, Arial, sans-serif;
  font-size: 2em;
}
.nav-bar {
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 5px;
}
.nav-bar a {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-family: "Sinkin Sans 400", Helvetica, Arial, sans-serif;
  font-size: .7em;
  color: rgb(143, 141, 141);
  padding: 6px 5px;
}
.nav-bar .current,
.nav-bar .current {
  color: rgb(69, 68, 68);
  border-bottom: 1.4px solid #000;
}
.nav-bar a:hover,
.nav-bar a:hover {
  color: rgba(31, 30, 30, 0.872);
}

/* Footer section */
.main-footer {
  position: sticky;
  font-size: .8em;
  width: 100vw;
  bottom: 0;
  height: 40px;
  color: rgb(249, 246, 246);
	background: rgb(39, 37, 37);
  text-align: center;
  padding: 1em 0;
}

/* ================================= 
  Content Styles
==================================== */
/* Title content */

/* This is the title */

/* Subtitle */
.motto {
  display: inline-block;
  color: #000;
  font-family: "Sinkin Sans 200", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  margin: auto 15%;
  font-weight: 300;
  letter-spacing: .1rem;
  text-align: center; 
}

/* Home page gallery slider */
.main-slider {
  padding-top: 40px;
  display: flex;
  width: 100%;  
}
.main-slider img {
  width: 100%;
}
/* About section */
.about-section {
  margin: auto 3%;
  margin-top: 45px;
  text-align: center;
  padding-left: env(safe-area-inset-left); /* Apply safe area */
  padding-right: env(safe-area-inset-right);
}
.about-section h2 {
  display: inline-block;
  padding: 0 20px;
  margin-top: 0;
  border-bottom: 2px solid #000;
}
.about-section p {
  margin-top: 5px;
}
/*  Contact section */
.contact-div {
  padding: 16px;
  padding-left: env(safe-area-inset-left); /* Apply safe area */
  padding-right: env(safe-area-inset-right);
  margin: 10px auto 20px;
  text-align: center;
}
.contact-div h3 {
  display: inline-block;
  padding: 0 15px 2px;
  border-bottom: 2px solid #000;
}
.contact-div p {
  margin: 5px 5px 0;
}

/* Gallery section */
.gallery-title {
  text-align: center;
}
.gallery-title h2 {
  font-family: 'Sinkin Sans 300';
  display: inline-block;
  text-align: center;
  margin: 10px auto 50px;
  padding: 0 30px 2px;
  border-bottom: 2px solid #000;
}
.gallery {
  /* text-align: center; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1vmin;
  grid-auto-flow: dense;
  margin: 0 5px 5px;
}
.gallery img {
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  cursor: url('../img/camera-focus.png'), auto;
}
/* Arrange the images poisition (space taken, etc) */
.gallery a:first-child {
  grid-column-start: span 2;
  grid-row-start:  span 2;
}

.gallery a:nth-child(2n+6){
  grid-row-start: span 2;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .contact-div {
    display: block;
  }
  .gallery {
    grid-template-columns: auto auto auto auto;
    margin: 0 10% 10px;
  }
}

@media (min-width: 850px) {

  .slick-slider {
    float: left;
    width: 65%;
    margin-right: 5%;
  }

  .about-section {
    margin-top: 8%;

  }
  .contact-div {
    clear: both;
  }
}

@media (min-width: 960px) {

.nav-bar {
  margin-top: 5px;
}
  .nav-bar li {
    margin: 0 10px;
    padding-bottom: 5px;
  }
  .nav-bar a {
    letter-spacing: .3em;
    font-size: .8em;
  }

}

@media (orientation: landscape) and (max-device-width: 849px) {
  .main-header {
    height: 70px;
  }

  .main-logo,
  .nav-bar {
    display: flex;
    flex-direction: row;
  }
  .main-logo {
    margin: 5px;
    padding-left: 2%;
  }
  .main-logo img {
    max-width: 60px;
  }
  .nav-bar {
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 2%;
  }
  .nav-bar li {
    margin: 0 5px;
    padding-bottom: 5px;
  }
  .nav-bar .current {
    color: rgb(69, 68, 68);
    padding-left: 9px;
    padding-right: 9px;
    font-size: .75em;
    border-bottom: 1.4px solid #000;
  }
  .nav-bar a {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: .7em;
    color: rgb(143, 141, 141);
  }
}