/* Web fonts */

@font-face {
  font-family: "Abolition Regular";
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* ================================= 
  Base Styles
==================================== */
* {
  box-sizing: border-box;
}

body {
  cursor: default;
  color: rgb(0, 0, 0);
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(249, 246, 246);
}

h1,
h2,
h3,
h4,
h5 {
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ================================= 
  Layout Styles
==================================== */
/* Title content */
.main-bg-container {
  /* This is the top background part */
  height: 380px;
  background: linear-gradient(rgb(249, 246, 246), transparent 20%),
              linear-gradient(0deg, rgb(249, 246, 246) , transparent 80%),
              rgb(249, 246, 246) url("../img/main-background.jpg") no-repeat center;
              background-size: cover;
}

.santiago {
  clear: both;
  text-align: center;
}

/* This is the title */
.santiago h1 {
  color: rgb(0, 0, 0);
  font-family: "Abolition Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  line-height: 1.1;
  text-shadow: -2px 2px rgba(255, 255, 255, .5);
  letter-spacing: 0.20rem;
  text-indent: 0.20rem;
  margin: 80px auto 40px;
}

/* Subtitle */
.motto {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  margin: 0 10px;
  padding-bottom: 4px;
  border-bottom: 1.4px solid #000;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: .1rem;
  
}
/* End of title content */

/* Main Content  */
/* .primary-content {
  width: 100vw;
} */

.main-zda-img {
  max-width: 100vw;
  margin-bottom: 50px;
  -webkit-box-shadow: -2px 7px 40px 2px rgba(0,0,0,0.49);
  -moz-box-shadow: -2px 7px 40px 2px rgba(0,0,0,0.49);
  box-shadow: -2px 7px 40px 2px rgba(0,0,0,0.49);
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -o-transition:all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
  cursor: pointer;
}
/* End of Main Content */

/* About section */

.about-section {
  margin: 0 auto;
  text-align: center;
}

.about-section h2 {
  display: inline;
  padding: 0 30px 2px;
  border-bottom: 2px solid #fff;
}

/*  Contact section */
.contact-div {

  margin: 50px auto;
  text-align: center;
}

.contact-div h3 {
  display: inline;
  padding: 0 15px 2px;
  border-bottom: 2px solid #fff;
}

/* Footer section */
.main-footer {

  padding: 2em 0;
	background: rgb(39, 39, 39);
  text-align: center;
}

.gallery {
  width: 90%;
  margin: 20px auto;
}

.gallery img {
  transition: .2s;
  padding: 15px;
  width: 200px;
}

.gallery img:hover {
  filter: grayscale(80%);
  transform: scale(1.2);
}
.main-wrapper {
  
  width: 100%;
  margin: 0 auto;
}

/* ================================= 
  Media Queries
==================================== */
  

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) { 
  .gallery {
    
    margin: 0 auto;
  }

  .gallery img {
   margin-left: 20px;
  }

  .main-bg-container {
    height: 420px;
    
  }

  .santiago h1 {
    font-size: 4.5em;
    line-height: 1;
  }
  
  .primary-content {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .about-section {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
 .main-wrapper {
  min-height: calc(100vh - 88px);
 }
} 

@media only screen and (min-width: 600px){
  /* For tablets */

}

@media only screen and (min-width: 768px) {
/* For desktop */
  .gallery {
    
    margin: 0 auto;
  }

  .gallery img {
   margin-left: 20px;
  }

  .main-bg-container {
    height: 420px;
    
  }

  .santiago h1 {
    font-size: 4.5em;
    line-height: 1;
  }
  
  .primary-content {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .about-section {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
  }
 .main-wrapper {
  min-height: calc(100vh - 88px);
 }
}

/* @media (max-width: 767px) {

  .gallery {
    width: 100%;
    margin: 0 auto;
  }

  .gallery img {
    margin-left: 20px;
   }
  
  .main-wrapper {
    min-height: calc(100vh - 88px);
   }
.main-bg-container {
  height: 320px;
}

  .santiago {
    margin-top: -60px;
  }

  .santiago h1 {
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    line-height: 1;
    font-size: 4rem;
    max-width: 100%;
  }

  .motto {
    font-size: 1rem;
    padding: 0;
    border-bottom-style: none;

  }

  .main-zda-img {
    margin-top: 10px;
    max-width: 90%;
  }

} */

/* @media (max-width: 533px) {

  .gallery {
    
    width: 100%;
    margin: 0px auto;
  }

  .main-bg-container {
    height: 360px;
  }
  .main-wrapper {
    min-height: calc(100vh - 88px);
   }
  
} */


