/* Web fonts */

@font-face {
  font-family: "Abolition Regular";
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* Base styles */

* {
  box-sizing: border-box;
}

body {
  cursor: default;
  color: #fff;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(39, 37, 37);
}
h1,
h2,
h3,
h4,
h5 {
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Main Styles */
/* Title content */
.main-bg-container {
  height: 500px;
  background: linear-gradient(rgb(39, 37, 37), transparent 90%),
              linear-gradient(0deg, rgb(39, 37, 37) , transparent 90%),
              rgb(39, 37, 37) url("../img/main-background.jpg") no-repeat center;
              background-size: cover;
}
.santiago {
  clear: both;
  height: 250px;
  text-align: center;
}
.santiago h1 {
  color: #fff;
  font-family: "Abolition Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  text-shadow: 1px 1px rgba(255, 255, 255, .5);
  letter-spacing: 0.25em;
  text-indent: 0.25em;
  margin-top: 100px;
  margin-bottom: 15px;
}
.motto {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  padding: 0 15px 6px;
  border-bottom: 1.4px solid #fff;
  line-height: 1;
  font-weight: 200;
  letter-spacing: 0.3rem;
  
}
/* End of title content */

/* Primary Content - Main gallery*/
.primary-content {
  text-align: center;
}
.main-zda-img {
  max-width: 800px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(255, 255, 255, .8);
  margin-bottom: 50px;
}
/* End of Primary Content */

/* About section */

.about-section {
  margin: 0 25%;
  text-align: center;
}

.about-section h2 {
  display: inline;
  padding: 0 30px 2px;
  border-bottom: 2px solid #fff;
}

/* Footer contact section */
.contact-footer {

  margin: 50px 25% 200px;
  text-align: center;
}
.contact-footer h3 {
  display: inline;
  padding: 0 15px 2px;
  border-bottom: 2px solid #fff;
}

/* Media Queries */
@media (min-width: 769px) and (max-width: 950px) {
  .main-header h1 {
    font-size: 4em;
    display: inline-block;
  }
}
@media (max-width: 768px) {

  .santiago h1 {
    letter-spacing: 0.5rem;
    text-indent: 0.5rem;
    line-height: 1;
    font-size: 4rem;
    max-width: 100%;
  }
  .motto {
    font-size: 1rem;
    border-bottom-style: none;

  }
  .main-zda-img {
    margin-top: 10px;
    max-width: 90%;
  }
}
